NET "A" PULLDOWN;
NET "B" PULLDOWN;
NET "C0" PULLDOWN;
//下拉电阻降低输入信号电压，接地(GND)使得逻辑信号接近保持0V,即使没连接设备
NET "A" LOC = T3;
NET "B" LOC = U3;
NET "C0" LOC = T4;
NET "C1" LOC = R1;
NET "F" LOC = P2;
//配置到`杭州电子科技大学教学电路板`的常用引脚
NET "A" IOSTANDARD = LVCMOS33;
NET "B" IOSTANDARD = LVCMOS33;
NET "C0" IOSTANDARD = LVCMOS33;
NET "C1" IOSTANDARD = LVCMOS33;
NET "F" IOSTANDARD = LVCMOS33;
//LVCMOS33电平标准,Vcc典型值3.3V
